<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectu.connectu_android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstTabActivity"
            android:label="@string/title_activity_first_tab" >
        </activity>
        <activity
            android:name=".SecondTabActivity"
            android:label="@string/title_activity_second_tab" >
        </activity>
        <activity
            android:name=".ThirdTabActivity"
            android:label="@string/title_activity_third_tab" >
        </activity>
        <activity
            android:name=".FourthTabActivity"
            android:label="@string/title_activity_fourth_tab" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
    </application>

</manifest>
