<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectu.activity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.connectu.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.connectu.blinddate.activity.BlindDateActivity"
            android:label="@string/title_activity_blind_date" >
        </activity>
        <activity
            android:name="com.connectu.meet.activity.MeetActivity"
            android:label="@string/title_activity_meet" >
        </activity>
        <activity
            android:name="com.connectu.chat.activity.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="com.connectu.more.activity.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.connectu.splash.activity.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.connectu.login.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.connectu.join.activity.JoinActivity"
            android:label="@string/title_activity_join" >
        </activity>
    </application>

</manifest>
